[Unit]
Description=RTKLIB GPS stream multuplexing service
After=network.target
StartLimitIntervalSec=60
StartLimitBurst=5

[Service]
Type=simple
Restart=always
ExecStart=/opt/pi-rtk/bin/start-str2str -c /etc/pi-rtk/pi-rtk-multiplex.conf 2>/dev/null
StandardOutput=null

[Install]
WantedBy=multi-user.target
